@charset "UTF-8";
.icon-input {
  display: flex;
  width: auto !important;
}

.icon-input:first-child {
  margin-right: .5rem;
}

.icon-input input {
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  flex-grow: 1;
}

.bg-primary .icon-input {
  border: none;
  color: #F1F0F5;
}

.bg-primary .icon-input input::placeholder {
  color: inherit;
}

body {
  background-color: #eff4f9;
}

.main-shadow {
  box-shadow: 0 0 30px 0 rgba(71, 49, 152, 0.05);
}

.hero-search .btn, .hero-search .form-control {
  border-radius: 0.375rem;
}

.main-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1.5rem;
}

.main-activities:not(:last-child) {
  margin-right: 1.5rem !important;
}

.main-activities__icon {
  padding: 1.5rem;
  background-color: rgba(71, 49, 152, 0.05);
  border-radius: 50%;
}

.main-activities__icon svg {
  width: 3.5rem;
  fill: #473198;
}

.main-activities__title {
  text-align: center;
}

.main-activities__desc {
  text-align: center;
}

.cta-link {
  color: #12101A;
  text-decoration: none;
}

.cta-link:hover {
  color: #473198;
}

.cta-link:active {
  color: #2c1e5e;
}

.edu-inst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .edu-inst {
    padding: 2rem;
    margin-bottom: 0;
    height: 100%;
  }
}

.edu-inst__body {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
}

@media screen and (min-width: 992px) {
  .edu-inst__body {
    height: 100%;
  }
}

.edu-inst__img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1.5rem;
}

.tg-subs-block {
  padding: 2rem 0;
}

.tg-subs-block--dark {
  color: white;
}

.edu-inst__body .spc-list {
  margin: 1rem -1rem 0;
  border-top: 1px solid #F1F0F5;
}

@media screen and (min-width: 992px) {
  .edu-inst__body .spc-list {
    margin: 1rem -2rem 0;
  }
}

.edu-inst__body .spc-list .list-group-item {
  padding: .75rem 2rem;
  border-color: #F1F0F5;
}

.edu-inst__body .spc-list .list-group-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .edu-inst__body .spc-list .list-group-item:last-child {
    margin-bottom: -1rem;
  }
}

.edu-inst-list {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

@media screen and (min-width: 768px) {
  .edu-inst-list {
    margin-left: 0;
    margin-right: 0;
  }
}

.edu-list-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .edu-list-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

.edu-inst.edu-inst--hrz {
  flex-direction: column;
  height: auto;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .edu-inst.edu-inst--hrz {
    flex-direction: row;
  }
  .edu-inst.edu-inst--hrz .edu-inst__img {
    height: auto;
    width: 6rem;
  }
}

.edu-inst.edu-inst--hrz .edu-inst__img {
  width: auto;
  height: 3rem;
  margin-right: 1.5rem;
}

.edu-inst--hrz {
  position: relative;
}

.edu-inst--hrz:not(:last-child):after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background-color: #F1F0F5;
}

.short-info {
  display: flex;
}

.short-info__item {
  cursor: help;
}

.short-info__item:not(:last-child) {
  margin-right: 2rem;
}

.main-card {
  padding: 1rem;
  box-shadow: 0 0 30px 0 rgba(71, 49, 152, 0.05);
  background-color: white;
}

@media screen and (min-width: 768px) {
  .main-card {
    padding: 2rem;
  }
}

.news-card {
  position: relative;
}

.news-card__img {
  width: 100%;
  height: 56.25%;
  object-fit: cover;
}

.news-card__body {
  padding: 1rem 0;
}

.news-card__title {
  margin-top: 1rem;
}

.news-card__title a {
  text-decoration: none;
}

.news-card--live img, .news-card--pop img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: .75rem;
}

.news-card--live .news-card__body, .news-card--pop .news-card__body {
  padding: 0;
}

.news-card--live .news-card__title, .news-card--pop .news-card__title {
  margin-top: 0;
  margin-bottom: .5rem;
}

.news-card--live .news-info, .news-card--pop .news-info {
  margin-bottom: 0;
}

.news-card--live .news-info__item, .news-card--pop .news-info__item {
  color: #DEDCE5;
}

.news-card--pop .news-info__item {
  color: #88868F;
}

.live-news {
  padding: 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
}

@media screen and (min-width: 768px) {
  .live-news {
    padding: 2rem;
    margin-right: 0;
    margin-left: 0;
  }
}

.news-info {
  display: flex;
}

.news-info__item {
  color: #88868F;
}

.news-info__item + .news-info__item {
  padding-left: .875rem;
}

.news-info__item + .news-info__item::before {
  float: left;
  padding-right: .875rem;
  color: #6c757d;
  content: '·';
  height: 100%;
}

.tag {
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.tag::before {
  content: '#';
}

.tag.badge {
  padding: .35em .65em;
  color: #F1F0F5;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-check + .tag {
  color: #B9B6C2;
}

.taglist .tag {
  flex-shrink: 0;
}

.taglist .tag:first-child {
  padding-left: 0;
}

.overflow__no-bar::-webkit-scrollbar {
  display: none;
}

.special-bar--hr::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.special-bar--hr::-webkit-scrollbar {
  height: .25rem;
  background-color: transparent;
}

.special-bar--hr::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #B9B6C2;
}

.btn-check:active + .tag, .btn-check:checked + .tag, .tag.active, .tag:active, .show > .tag.dropdown-toggle {
  color: #12101A;
}

.filter-selection {
  padding: 0 .5rem;
  flex-wrap: wrap;
}

.filter-selection__choice {
  display: flex;
  font-size: .875rem;
  padding: .25rem .5rem;
  cursor: pointer;
  border-radius: 1.5rem;
  border: 1px solid #DEDCE5;
}

.filter-selection__choice:hover {
  text-decoration: line-through;
  border: 1px solid #58565C;
}

.filter-selection__choice:not(:last-child) {
  margin-right: .5rem;
}

.filter-selection__choice--clear:hover {
  text-decoration: none;
}

.pagination-new {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.page-new-item {
  display: block;
}

.page-new-item__link {
  display: block;
  min-width: 2.5rem;
  padding: .5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: .25rem;
}

.page-new-item__link:hover {
  background-color: #dcd6f2;
}

.page-new-item__link:active, .page-new-item__link:focus {
  background-color: #473198;
  color: white;
}

.page-new-item__link--active {
  background-color: #473198;
  color: white;
}

.page-new-item__link--active:hover {
  background-color: #473198;
  color: white;
}

.univer-links__item:not(:last-child) {
  margin-right: 1.5rem;
}

.edu-inst-info {
  padding: 2rem;
}

.edu-inst-contacts dd a:not(:last-child)::after {
  content: ', ';
}

.pop-news {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

@media screen and (min-width: 768px) {
  .pop-news {
    margin-right: 0;
    margin-left: 0;
  }
}

.ei-table.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #DEDCE5;
  border-top: 1px solid #DEDCE5;
}

.ei-table thead {
  background-color: #F1F0F5;
  color: #88868F;
}

.ei-table thead th {
  padding: .75rem .5rem;
  font-weight: 600;
}

.ei-table td p, .ei-table th p {
  margin-bottom: 0;
}

.ei-table td p.small, .ei-table th p.small {
  color: #88868F;
}

.ei-table td[scope="row"] {
  min-width: auto;
  max-width: auto;
  width: auto;
}

.ei-table th {
  font-weight: 600;
}

.ei-exams-table {
  width: 100%;
  overflow-x: scroll;
}

.ei-exams-table tr:nth-child(even) td, .ei-exams-table tr:nth-child(even) th {
  background-color: #F1F0F5;
}

.ei-exams-table tr td, .ei-exams-table tr th {
  background-color: white;
}

.ei-exams-table thead th {
  background-color: #F1F0F5;
}

.ei-exams-table thead th:not(:first-child) {
  min-width: 8.5rem;
}

@media screen and (min-width: 768px) {
  .ei-exams-table thead th:not(:first-child) {
    min-width: unset;
  }
}

@media screen and (min-width: 992px) {
  .ei-exams-table thead th:not(:first-child) {
    min-width: 8.5rem;
  }
}

.ei-exams-table thead .sticky-cell {
  min-width: 10rem;
}

@media screen and (min-width: 992px) {
  .ei-exams-table thead .sticky-cell {
    min-width: 19rem;
  }
}

.ei-branches-table-v2 .ei-table thead th {
  background-color: #F1F0F5;
}

.ei-branches-table-v2 .ei-table thead th:not(:first-child) {
  min-width: 6.5rem;
}

.ei-branches-table-v2 .ei-table tbody tr {
  background-color: white;
}

.ei-branches-table-v2 .ei-table tr:nth-child(even) {
  background-color: #F1F0F5;
}

@media screen and (max-width: 576px) {
  .ei-branches-table-v2 thead {
    display: none;
  }
  .ei-branches-table-v2 table tr {
    display: block;
    margin-bottom: .625rem;
    background-color: rgba(241, 240, 245, 0.25) !important;
    border: 1px solid #F1F0F5;
    border-bottom: 2px solid #DEDCE5;
  }
  .ei-branches-table-v2 tbody th {
    display: block;
  }
  .ei-branches-table-v2 table td {
    border-bottom: 1px solid #F1F0F5;
    display: block;
    text-align: right;
  }
  .ei-branches-table-v2 tbody td[scope="row"], .ei-branches-table-v2 tbody th[scope="row"] {
    background-color: rgba(71, 49, 152, 0.08);
  }
  .ei-branches-table-v2 table th {
    border-bottom: 1px solid #F1F0F5;
  }
  .ei-branches-table-v2 table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    font-size: .75rem;
    text-transform: uppercase;
  }
  .ei-branches-table-v2 table td:last-child {
    border-bottom: 0;
  }
}

.sticky-cell {
  position: sticky;
  left: 0;
  z-index: 2;
  filter: drop-shadow(0 0 30px rgba(18, 16, 26, 0.05));
}

@media screen and (min-width: 768px) {
  .sticky-cell {
    filter: none;
  }
}

.ei-branches-table {
  width: 100%;
  overflow-x: scroll;
}

.ei-branches-table tr:nth-child(even) td, .ei-branches-table tr:nth-child(even) th {
  background-color: #F1F0F5;
}

.ei-branches-table thead th {
  background-color: #F1F0F5;
}

.ei-branches-table tbody tr td, .ei-branches-table tbody tr th {
  background-color: white;
}

.ei-branches-table thead th:not(:first-child) {
  min-width: 6.5rem;
}

@media screen and (min-width: 768px) {
  .ei-branches-table thead th:not(:first-child) {
    min-width: unset;
  }
}

@media screen and (min-width: 992px) {
  .ei-branches-table thead th:not(:first-child) {
    min-width: 6.5rem;
  }
}

.ei-branches-table tr td:first-child, .ei-branches-table thead tr th:first-child {
  display: none;
}

@media screen and (min-width: 768px) {
  .ei-branches-table tr td:first-child, .ei-branches-table thead tr th:first-child {
    display: table-cell;
  }
}

.ei-branches-table thead .sticky-cell {
  min-width: 10rem;
}

@media screen and (min-width: 992px) {
  .ei-branches-table thead .sticky-cell {
    min-width: 19rem;
  }
}

.ei-exams-table th p, .ei-exams-table td p {
  margin-bottom: .5rem;
}

.ei-exams-table th p.small, .ei-exams-table td p.small {
  margin-bottom: 0;
}

.ei-branches__title {
  margin-bottom: 2rem;
}

.ei-branches__toolbar {
  margin-bottom: 2rem;
}

.ratio > img {
  object-fit: cover;
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .article-info {
    justify-content: space-between;
    align-items: center;
  }
}

.article-author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.article-author__photo {
  width: 2rem !important;
  height: 2rem !important;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .article-author {
    margin-bottom: 0;
  }
  .article-author__photo {
    width: 3rem !important;
    height: 3rem !important;
  }
}

.ava {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.toggle-icon.dropdown-toggle::after {
  display: none;
}

.toggle-icon {
  min-width: 1.5rem;
  text-align: center;
}

.toggle-icon.toggle-icon--check {
  cursor: pointer;
}

.btn-check:active + .toggle-icon--check .bi-bookmark::before, .btn-check:checked + .toggle-icon--check .bi-bookmark::before {
  content: "\f199";
}

.btn-check:active + .toggle-icon--check .bi-heart::before, .btn-check:checked + .toggle-icon--check .bi-heart::before {
  content: "\f415";
  color: #ff5964;
}

.figure-caption {
  color: #58565C;
}

.blockquote-footer {
  color: #88868F;
}

.blq-figure {
  padding: 1.5rem 0;
  border-top: 2px solid #B9B6C2;
  border-bottom: 2px solid #B9B6C2;
}

.full-comments-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.comment-block {
  display: flex;
  padding: 1.5rem 0;
  border-top: 1px solid #DEDCE5;
}

.comment-block:first-child {
  border-top: none;
}

.comment-block img {
  flex-shrink: 0;
}

.comment-body {
  display: flex;
  flex-direction: column;
}

.comment-actions {
  display: flex;
  color: #88868F;
}

.comment-actions .toggle-icon {
  text-decoration: none;
  color: #88868F;
}

.comment-actions .toggle-icon:hover, .comment-actions .toggle-icon:active {
  color: #58565C;
}

.comment-author time {
  color: #88868F;
}

.news-card--hr {
  display: flex;
  flex-direction: column;
}

.news-card--hr:not(:last-child) {
  margin-bottom: 1.5rem;
}

.news-card--hr .news-card__img {
  flex-shrink: 0;
  object-fit: cover;
  width: 100%;
  height: 56.25%;
}

@media screen and (min-width: 768px) {
  .news-card--hr {
    flex-direction: row;
    align-items: center;
  }
  .news-card--hr .news-card__img {
    width: 8rem;
    height: 6rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .news-card--hr .news-card__img {
    width: 12rem;
    height: 6.75rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .news-card--hr .news-card__img {
    width: 14rem;
    height: 7.875rem;
    margin-right: 1rem;
  }
}

.news-card--hot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-left: 2px solid #473198;
  background-color: #eff4f9;
}

.news-card--hot .news-card__body {
  flex-grow: 1;
  order: 2;
}

.news-card--hot .news-card__img {
  margin-top: 1rem;
  margin-right: 0;
  order: 1;
  width: 50%;
  height: 5rem;
}

@media screen and (min-width: 768px) {
  .news-card--hot {
    flex-direction: row;
    align-items: center;
  }
  .news-card--hot .news-card__body {
    margin-right: 1.5rem;
    order: 1;
  }
  .news-card--hot .news-card__img {
    margin-right: 0;
    margin-top: 0;
    order: 2;
    width: 5rem;
    height: 5rem;
  }
}

.gallery-link {
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 1.5rem;
  position: static;
  z-index: 2;
}

.gallery-link.stretched-link::after {
  z-index: -1;
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);
}

.gallery-link.stretched-link:hover::after {
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

.univer-main-img {
  height: 45vh;
  min-height: 15rem;
  border: none;
  border-radius: 0;
}

.covered-img {
  object-fit: cover;
}

.tests-single {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1.25rem 0;
}

.tests-single:not(:last-child) {
  border-bottom: 1px solid #DEDCE5;
}

.tests-single__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.tests-single__name {
  margin-bottom: 1rem;
}

.tests-single__name a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .tests-single {
    flex-direction: row;
    align-items: center;
  }
  .tests-single__body {
    margin-bottom: 0;
  }
  .tests-single__name {
    margin-bottom: .5rem;
  }
}

.tests-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.tests-info__item {
  color: #58565C;
  font-size: .875rem;
}

.tests-info__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: .5rem;
}

.tests-info__item span {
  display: inline-block;
  width: 3rem;
  margin-left: .5rem;
}

@media screen and (min-width: 768px) {
  .tests-info {
    flex-direction: row;
    align-items: center;
  }
  .tests-info__item:not(:last-child) {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}

.btn {
  font-weight: 700;
}

.quiz-list {
  padding-left: 1.25rem;
}

.quiz-list li {
  padding-left: 1rem;
}

.mobile-test-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(71, 49, 152, 0.05);
}

.mobile-action-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(71, 49, 152, 0.05);
}

.quiz-single {
  padding-bottom: 2.5rem;
  padding-top: 3rem;
  margin-top: -3rem;
  margin-bottom: 2.5rem;
}

.quiz-single p {
  font-size: 1.25rem;
}

.quiz-single:not(:last-child) {
  border-bottom: 1px solid #F1F0F5;
}

.quiz-single__form {
  margin-top: 2rem;
}

.quiz-single__form .form-check label {
  width: 100%;
}

.quiz-single__form .form-check, .quiz-single__form .form-check label {
  cursor: pointer;
}

.quiz-single__form input:disabled + label {
  cursor: not-allowed;
}

.quiz-single__form .form-check:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .quiz-single {
    margin-top: -7rem;
    margin-bottom: 2.5rem;
    padding-top: 7rem;
  }
}

.full-nav-swithcer {
  position: absolute;
  right: 0;
  top: 0;
}

.tests-nav {
  width: 28.625rem;
  position: absolute;
  right: 0;
  display: none;
  text-align: center;
}

.tests-nav.tests-nav--mobile {
  position: fixed;
  left: 0;
  bottom: 3rem;
  right: 0;
  width: unset;
}

.tests-nav.tests-nav--active {
  display: block;
}

.test-results {
  display: flex;
  box-shadow: 0 0 30px rgba(71, 49, 152, 0.05);
}

.test-results__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.test-results .divider-vr {
  width: 0;
  height: auto;
  border-left: 1px solid #dddce0;
  margin: 1rem .25rem;
}

@media screen and (min-width: 768px) {
  .test-results__item {
    padding: 2rem;
  }
  .test-results .divider-vr {
    margin: 2rem .75rem;
  }
}

.action-btn-group {
  display: flex;
  justify-content: center;
}

.action-btn-group .btn {
  font-size: .875rem;
  padding: .25rem .5rem;
}

.action-btn-group .btn-check:active + .btn, .action-btn-group .btn-check:checked + .btn {
  color: #473198;
}

.action-btn-group .btn-check:active + .btn[for="like"] > i::before, .action-btn-group .btn-check:checked + .btn[for="like"] > i::before {
  content: "\f406";
}

.action-btn-group .btn-check:active + .btn[for="dislike"] > i::before, .action-btn-group .btn-check:checked + .btn[for="dislike"] > i::before {
  content: "\f404";
}

.action-btn-group .btn-check:active + .btn[for="book"] > i::before, .action-btn-group .btn-check:checked + .btn[for="book"] > i::before {
  content: "\f199";
}

@media screen and (min-width: 768px) {
  .action-btn-group .btn {
    font-size: 1rem;
    padding: .375rem .75rem;
  }
}

.panel-header {
  display: flex;
  flex-direction: column;
}

.test-results.test-results--dark * {
  color: white;
}

.tr-header {
  font-size: .5rem;
  margin-bottom: 0;
}

.tr-number {
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

.tr-number.display-4 {
  font-size: calc(1.375rem + 1.5vw);
  margin-top: auto !important;
  margin-bottom: 0;
}

.tr-difference {
  display: none;
  margin-bottom: 0;
  color: #88868F;
}

@media screen and (min-width: 768px) {
  .tr-header {
    font-size: .875rem;
    margin-bottom: 0;
  }
  .tr-number {
    font-size: calc(1.375rem + 1.5vw);
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
  .tr-number.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    margin-top: auto !important;
    margin-bottom: .5rem;
  }
  .tr-difference {
    margin-bottom: 0;
    color: #88868F;
  }
}

.answers-item {
  display: flex;
  align-items: center;
  opacity: .65;
  position: relative;
}

.answers-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  content: '';
}

.answers-item .bi {
  visibility: hidden;
}

.answers-item:not(:last-child) {
  margin-bottom: 1rem;
}

.answers-item p {
  font-size: 1rem;
  flex-grow: 1;
}

.answers-item.answers-item--right, .answers-item.answers-item--wrong {
  flex-wrap: wrap;
}

.answers-item.answers-item--right .bi, .answers-item.answers-item--wrong .bi {
  visibility: visible;
}

.answers-item.answers-item--right {
  opacity: 1;
}

.answers-item.answers-item--right::after {
  display: none;
}

.right-answer-info {
  display: flex;
  padding: 1rem;
}

.right-answer-info p {
  font-size: 1rem;
}

.nav-tabs--line {
  flex-wrap: nowrap;
  border-bottom: 1px solid #B9B6C2;
}

.nav-tabs--line .nav-link.active {
  background-color: transparent;
}

.nav-tabs--line .nav-item {
  flex-shrink: 0;
}

.nav-tabs--line .nav-link:focus {
  color: #473198;
  border-color: transparent transparent #473198;
}

.nav-tabs--line .nav-link {
  border-bottom-width: 2px;
  color: #12101A;
}

.nav-tabs--line .nav-link.active {
  border-color: transparent transparent #12101A;
  font-weight: 600;
  color: #12101A;
}

.nav-tabs--line .nav-link:hover {
  border-bottom-width: 2px;
  border-color: transparent transparent #12101A;
}

.nav-dark .nav-link {
  color: white;
}

.footer-dark {
  color: white;
}

.footer-dark {
  font-family: "Montserrat", sans-serif;
}

.footer-content {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .footer-bottom {
    align-items: center;
    flex-direction: row;
  }
}

.mobile-nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav-icon-btn {
  line-height: 1;
  padding: .25rem;
  color: #12101A;
}

.mobile-nav-brand {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.mobile-nav-brand a {
  text-decoration: none;
}

.mm-body__user-block {
  margin: 2rem 0;
}

.user-media {
  display: flex;
  align-items: center;
  padding: .5rem 2rem;
}

.user-media__img {
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-media__info {
  flex-grow: 1;
}

.mb-links__item .mb-links {
  margin-left: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-left: 0.25rem solid #F1F0F5;
}

.mb-links__item .mb-links .mb-link {
  padding: .5rem 1rem;
  text-transform: none;
}

.clps-down > .mb-link::after {
  width: 1.25rem;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: .5em 50%;
}

.mb-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .875rem 2rem;
  color: #12101A;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.mb-link:focus {
  color: #12101A;
}

.mb-link.active {
  color: #473198;
}

.mb-link[aria-expanded="true"] {
  color: #12101A;
}

.mb-link[aria-expanded="true"]::after {
  transform: rotate(90deg);
}

.history-list {
  margin-top: 1rem;
}

.history-list__item {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.history-list__item::before {
  content: "\f292";
  font-family: bootstrap-icons !important;
  margin-right: 1rem;
}

.offcanvas-search {
  min-height: 50vh;
  height: fit-content;
}

.subjects {
  display: flex;
  flex-direction: column;
}

.subjects a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .subjects {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .subjects {
    flex-direction: column;
  }
}

.first-s-card {
  width: 100%;
}

.first-s-card a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .first-s-card {
    max-width: 50%;
  }
}

.subject-card {
  border: none;
  border-radius: 0;
  flex-grow: 1;
  color: white;
}

@media screen and (min-width: 992px) {
  .subject-card {
    flex-grow: 0;
  }
}

.subject-card:first-child {
  margin-bottom: 1rem;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .subject-card:first-child {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .subject-card:first-child {
    margin-right: 0;
    margin-bottom: auto;
  }
}

.subj-img {
  height: 20rem;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .subj-img {
    height: auto;
  }
}

.category-list {
  padding-left: 1.5rem;
  margin-bottom: 0;
}

.category-list.category-list--sub-ctg {
  padding-left: 1.25rem;
  margin-left: -.325rem;
  border-left: 1px solid #DEDCE5;
}

.sublist-head {
  padding-left: 1.5rem;
  font-size: .875rem;
  font-weight: 700;
}

.btn-back {
  padding-left: 1.5rem;
  margin: 0 0 1rem;
}

.category-list.category-list--sub {
  padding-left: 2rem;
}

.category-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem;
  font-size: .875rem;
  color: #12101A;
  text-decoration: none;
}

.category-link span {
  margin-left: .25rem;
}

.category-link:active, .category-link:hover {
  font-weight: 600;
}

.link-submenu::before {
  width: 1.25rem;
  margin-left: -1.25rem;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: .5em 50%;
}

.link-submenu[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.ctg-form {
  padding-left: 1.5rem;
}

.ctg-form .form-check {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.pop-news {
  position: sticky;
  top: 3.5rem;
}

.tg-subsc {
  margin-top: 2rem;
}

.univer-main-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .univer-main-links {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.hero {
  padding-top: 6.75rem;
  padding-bottom: 7rem;
  background-image: url("../images/background/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.hero__title {
  margin-bottom: .5rem;
  text-align: center;
}

.hero__subheader {
  margin-bottom: 3rem;
  text-align: center;
}

.hero.hero--dark {
  color: white;
}

.features {
  margin-top: -4rem;
  margin-bottom: 4rem;
}

.main-univers, .main-news, .main-subjects {
  margin-bottom: 4rem;
}

.main-subjects {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 576px) {
  .main-subjects {
    padding-left: unset;
    padding-right: unset;
  }
}

.section-title {
  margin-bottom: 2rem;
  text-align: center;
}

.section-title h4 {
  margin-bottom: 1rem;
}

.section-title p {
  margin-bottom: 0;
}

.tg-subsc {
  background-image: url(../images/background/tg-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.edu-inst-info {
  position: relative;
  margin-top: -5.25rem;
  z-index: 1024;
}

.edu-inst-contacts {
  margin-top: 2rem;
}

.quota-table, .edu-inst-map, .edu-inst-news {
  padding-top: 2.5rem;
}

.ei-branches, .ei-map, .news-section {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

@media screen and (min-width: 768px) {
  .ei-branches, .ei-map, .news-section {
    margin-right: 0;
    margin-left: 0;
  }
}

.main-news {
  margin-top: 2rem;
}

.main-news .news-section {
  margin-top: 2rem;
}

.comment-section, .article-main {
  margin-top: 2rem;
}

.article-info {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.article-subheader {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .12em;
}

.comment-section {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

@media screen and (min-width: 768px) {
  .comment-section {
    margin-right: 0;
    margin-left: 0;
  }
}

.article-related-tags {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .article-related-tags {
    flex-direction: row;
  }
}

.related-taglist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .related-taglist {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}

.article {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

.article p.lead {
  margin-bottom: 2.5rem;
}

.article h5 {
  margin-bottom: 1rem;
}

.article .blq-figure {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.article .article-video {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.article .article-text {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .article {
    margin-right: 0;
    margin-left: 0;
  }
  .article .article-text {
    margin-left: 5rem;
  }
}

.tests-section {
  margin-top: 2rem;
}

.tests-list-section {
  margin-left: -.75rem;
  margin-right: -.75rem;
}

@media screen and (min-width: 768px) {
  .tests-list-section {
    margin-left: 0;
    margin-right: 0;
  }
}

.test-nav-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(71, 49, 152, 0.05);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.test-section {
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .test-section {
    margin-top: 5rem;
  }
}

.quiz-section {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

@media screen and (min-width: 768px) {
  .quiz-section {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.quiz-header {
  text-align: center;
  margin-bottom: 2rem;
}

.result-tablot {
  margin-top: 2.5rem;
}

.result-graph {
  margin-top: 1.5rem;
}

.wrong-answrs, .history-results {
  margin-top: 2rem;
}

.wrong-answrs .main-card, .history-results .main-card {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

@media screen and (min-width: 768px) {
  .wrong-answrs .main-card, .history-results .main-card {
    margin-right: 0;
    margin-left: 0;
  }
}

.main-results {
  margin-top: 2rem;
}

.line-graph {
  width: 200%;
  height: 112.5%;
}

@media screen and (min-width: 768px) {
  .line-graph {
    width: 100%;
    height: 56.25%;
  }
}

.pie-chart {
  width: 70%;
  margin: 0 auto;
}

.overall-results {
  margin-right: -.75rem;
  margin-left: -.75rem;
}

@media screen and (min-width: 768px) {
  .overall-results {
    margin-right: 0;
    margin-left: 0;
  }
}

.searched-news {
  margin-top: 2rem;
}

.search-section {
  margin-top: 2rem;
}

.error {
  margin-top: 2rem;
}

.useful-links-section {
  margin-top: 2rem;
}

.useful-links-section ul li a {
  text-decoration: none;
}

.useful-links-section ul li:not(:last-child) {
  margin-bottom: 1rem;
}
